
<ul style="list-style: none;">
    <li *ngFor="let caracteristica of array_caracteristicas">{{ caracteristica }}</li>
</ul>
<app-empleado-hijo-c></app-empleado-hijo-c><div class="container">
    <div class="row">
        <div class="col">
            <div>
                {{ (indice+1) }} - {{ empleadoLista.nombre}} {{empleadoLista.apellido}} {{ empleadoLista.cargo}} ${{empleadoLista.salario}}
            </div>
            <app-caracteristicas-empleados-c (CaracteristicasEmpleados)="agregar_caracteristica($event)"></app-caracteristicas-empleados-c>
            <ul style="list-style: none;">
                <li *ngFor="let caracteristica of array_caracteristicas">
                    {{caracteristica}}
                </li>
            </ul>
        </div>
    </div>
</div>